/*UNIVERSAL*/
@font-face {
	font-family: "Myriad Set Pro Thin";
	font-style: normal;
	src: url(../fonts/myriad-set-pro_thin.ttf);
}

@font-face {
	font-family: "Myriad Set Pro Text";
	font-style: normal;
	src: url(../fonts/myriad-set-pro_text.ttf);
}

* {
	font-family: "Myriad Set Pro Thin", sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6, strong, b {
	font-family: "Myriad Set Pro Text", sans-serif;
	font-style: normal;
}

a {
	text-decoration: none;
	color: #999;
 	-webkit-transition: color .3s ease-in-out;
 	-moz-transition: color .3s ease-in-out;
 	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

a:hover {
	color: #eee;
}

#description-wrapper a:hover {
	color: #333;
}

h1 {
	font-size: 20pt;
}

hr {
	border: 0;
    height: 1px;
    background: rgba(0,0,0,0.1);
}

	hr.long {
		max-width: 800px;
		width: 80%;
	}


/* no blue highlight on focus */
input:focus,
select:focus,
button:focus {
    outline: none;
}

input::-webkit-input-placeholder {
	font-family: "Myriad Set Pro Thin";
}
input:-moz-placeholder {
	font-family: "Myriad Set Pro Thin";
}
input::-moz-placeholder {
	font-family: "Myriad Set Pro Thin";
}
input:-ms-input-placeholder {
	font-family: "Myriad Set Pro Thin";
}

/*SCROLLBAR STUFF*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  background: #888;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3FA9DA;
}
::-webkit-scrollbar-thumb:active {
  background: #3FA9DA;
}
::-webkit-scrollbar-track {
  background: #444;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #444;
}
::-webkit-scrollbar-track:active {
  background: #444;
}
::-webkit-scrollbar-corner {
  background: #666;
}
/*END UNIVERSAL*/

/*NAVIGATION*/
#top-wrapper {
	position: absolute;
	top: 0;
	height: 96px;
	width: 100%;
	background-color: #222;
	color: #555;
	z-index: 1;
	line-height: 96px;
	 -webkit-transition: height .3s ease-in-out, line-height .3s ease-in-out;
 	-moz-transition: height .3s ease-in-out, line-height .3s ease-in-out;
 	-ms-transition: height .3s ease-in-out, line-height .3s ease-in-out;
	-o-transition: height .3s ease-in-out, line-height .3s ease-in-out;
	transition: height .3s ease-in-out, line-height .3s ease-in-out;
}

/*SNAPPED TO TOP*/
#top-wrapper.snapped {
	position: fixed;
	height: 48px;
	line-height: 48px;
	z-index: 10;
}

	#nav-wrapper {
		width: 100%;
		max-width: 1120px;
		height: 100%;
		margin: auto;
	}

	img#menu-icon {
		display: none;
	}

	#superjump-wrapper {
		position: relative;
		display: inline-block;
		width: 228px;
		height: 100%;
		padding: 16px;
		overflow: hidden;
	}

		img#superjump-logo {
			/* 16px from wrapper padding*/
			width: calc(100% - 2*16px); 
			position: absolute;
			-webkit-transition: opacity .3s ease-in-out;
		 	-moz-transition: opacity .3s ease-in-out;
		 	-ms-transition: opacity .3s ease-in-out;
			-o-transition: opacity .3s ease-in-out;
			transition: opacity .3s ease-in-out;
		}

			#top-wrapper.snapped img#superjump-logo {
				width:;
			}

		img#superjump-text {
			/* 16px from wrapper padding*/
			width: calc(100% - 2*16px);
			position: absolute;
			opacity: 1;
			-webkit-transition: opacity .3s ease-in-out;
		 	-moz-transition: opacity .3s ease-in-out;
		 	-ms-transition: opacity .3s ease-in-out;
			-o-transition: opacity .3s ease-in-out;
			transition: opacity .3s ease-in-out;
		}

			#top-wrapper.snapped img#superjump-text {
				opacity: 0;
			}

	#nav-bar {
		display: inline-block;
		vertical-align: top;
		height: 100%;
		/* 228 = logo, 200 = social media, 4 = wiggle */
		width: calc(100% - 228px - 200px - 4px); 
	}

		.nav-bar-item {
			display: inline-block;
			width: 25%;
			height: 100%;
			font-size: 14pt;
			text-align: center;
			cursor: pointer;
			border-bottom: 2px solid transparent;
			float: left;
		}

		.nav-bar-item.active, .nav-bar-item:hover, .social-media-icon:hover {
			border-color: #ddd;
			color: #eee;
			font-family: "Myriad Set Pro Text";
		}

	#social-media-wrapper {
		display: inline-block;
		width: 200px;
		height: 100%;
		float: right;
	}

		.social-media-icon {
			display: inline-block;
			width: 23%;
			height: 100%;
			text-align: center;
			vertical-align: top;
			line-height: 80px;
			border-bottom: 2px solid transparent;
		}

		.social-media-icon img {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: 24px;
			height: 24px;
			opacity: 0.5;
			-webkit-transition: opacity .3s ease-in-out;
		 	-moz-transition: opacity .3s ease-in-out;
		 	-ms-transition: opacity .3s ease-in-out;
			-o-transition: opacity .3s ease-in-out;
			transition: opacity .3s ease-in-out;
		}

			.social-media-icon:hover img {
				opacity: 1;
			}

/*END NAVIGATION STYLING*/

/*BANNER STYLING*/
#banner-wrapper {
	width: 100%;
	height: 600px;
	overflow: hidden;
	background-image: url(../images/BG-sunset.JPG), url(../images/BG-night.JPG);
	background-position: center 25%;
	background-size: cover;
	animation: slides 10s linear infinite;
    -webkit-animation: slides 10s linear infinite;
    -moz-animation: slides 10s linear infinite;
    -o-animation: slides 10s linear infinite;
    -ms-animation: slides 10s linear infinite;
}

@-webkit-keyframes slides {
	0%, 35% {
		background-image: url(../images/BG-sunset.JPG);
	}
	50%, 85% {
		background-image: url(../images/BG-night.JPG);
	}
}

	#banner-container {
		position: relative;
		width: 100%;
		max-width: 1120px;
		height: 100%;
		margin: auto;
		padding-bottom: 20px;
	}

		#game-logo {
			position: absolute;
			height: 320px;
			width: auto;
			top: 128px;
			left: 0px;
			/*margin: auto;*/
		}

		#awards-wrapper {
			width: 100%;
			height: 100px;
		}

			.award-img-wrapper {
				display: inline-block;
				vertical-align: top;
				width: calc(100%/3.05);
				height: 100%;
				background: url(../images/award-wreath.png);
				background-size: auto 100%;
				background-position: center center;
				background-repeat: no-repeat;
				color: #eee;
				text-align: center;
				letter-spacing: 1px;
			}
				.award-event-year {
					margin-top: 8px;
					font-size: 11pt;
				}

				.award-event-name {
					font-size: 18pt;
					font-weight: bold;
					margin: 4px 0px;
				}

				.award-name {
					font-size: 11pt;
				}

		#parallax-wrapper {
			position: relative;
			top: 100px;
			width: 100%;
			height: calc(100% - 100px);
			pointer-events: none;
		}

			img#inari-img {
				position: absolute;
				width: 400px;
				height: auto;
				top: -25px;
				right: -50px;
				-moz-transform: scaleX(-1);
		        -webkit-transform: scaleX(-1);
		        transform: scaleX(-1);
		        transition: transform 1s;
		        z-index: 2;
			}

			img#lantern-img {
				position: absolute;
				width: 400px;
				height: auto;
				top: -150px;
				right: 150px;
				-moz-transform: rotate(-10deg); 
			    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
			    transform: rotate(-10deg);
			    z-index: 1;
			}

			img#lantern-2-img {
				position: absolute;
				width: 400px;
				height: auto;
				top: 100px;
				right: -200px;
				-moz-transform: rotate(10deg) scale(1.5,1.5); 
			    -webkit-transform: rotate(10deg) scale(1.5,1.5); /* Chrome, Safari, Opera */
			    transform: rotate(10deg) scale(1.5,1.5);
				z-index: 3;
			}

			img#petal-1-img {
				position: absolute;
				width: 150px;
				height: auto;
				top: 150px;
				right: 250px;
				z-index: 1;
			}

			img#petal-2-img {
				position: absolute;
				width: 150px;
				height: auto;
				top: 100px;
				right: 100px;
				-moz-transform: rotate(90deg) scale(1.5,1.5); 
			    -webkit-transform: rotate(90deg) scale(1.5,1.5); /* Chrome, Safari, Opera */
			    transform: rotate(90deg) scale(1.5,1.5);
			    z-index: 4;
			    filter: blur(1px);
			}
/* END BANNER STYLING */

/* EMAIL LIST */
#emaillist-wrapper {
	width: 100%;
	max-width: 1120px;
	margin: auto;
	text-align: center;
	background-color: #fafafa;
	padding: 24px 0;
	color: #444;
}

	#emaillist-wrapper h2 {
		font-size: 22;
		margin: 0;
	}

	#emaillist-wrapper p {
		font-size: 18px;
		margin: 5px;
	}

		#mc_embed_signup_scroll{
			margin-top: 30px;
		}

			#mc_embed_signup input.email {
				font-family: "Myriad Set Pro Thin";
				background-color: white;
				border: 1px solid #ddd;
				color: #999;
				max-width: 280px;
				height: 36px;
				font-size: 16px;
			}

			#mc_embed_signup .button {
				height: 36px;
				font-size: 16px;
				margin-left: 5px;
				background-color: #333;
				color: #999;
			}

			#mc_embed_signup .button:hover {
				background-color: #333;
				color: #eee;
			}

			#mc_embed_signup form {
				margin: 0;
				padding: 0;
			}


/*DESCRIPTION STYLING*/
#description-wrapper {
	width: 100%;
	max-width: 1120px;
	height: auto;
	margin: auto;
	background-color: #fafafa;
/*	background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/pw_maze_white.png); */
}
	
	#description-container {
		width: 100%;
		height: auto;
		margin: auto;
		overflow: hidden;
	}

		.description-half {
			display: inline-block;
			vertical-align: top;
			width: calc(50% - 2px); /* slightly less than half*/
			height: auto;
			padding: 40px 20px;
			font-size: 14pt;
			line-height: 20pt;
			position: relative;
		}

			#description-story {
				height: 580px;
				background-color: white;
				box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
/*				background-color: rgba(0,0,0,0.04);
*/				padding: 20px;
				color: #444;
				overflow: hidden;
			}

			a.twitter-timeline {
				background-color: rgba(0,0,0,0.04);
			}
/*END DESCRIPTION STYLING*/

/*MEDIA STYLING*/
#screenshot-expanded-overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 999;
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
}

	img#screenshot-expanded {
		position: relative;
		width: 75%;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
	}

#media-wrapper {
	width: 100%;
	height: auto;
	background-color: #2d2d2d;
/*	background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/dark_geometric.png);*/
}

	#media-inner-wrapper {
		width: 100%;
		max-width: 1120px;
		padding: 40px 0px;
		margin: auto;
	}

		#media-table {
			width: 100%;
			text-align: center;
			vertical-align: middle;
		}

			#media-table td#video-cell {
				width: 50%; /*compared to tr*/
				height: 200%; /*compared to tr*/
			}

				#video-cell iframe {
					max-width: 100%;
					max-height: 100%;
					-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
					-moz-box-shadow: 0 0px 5px rgba(0,0,0,0.8);
					box-shadow: 0 0 5px rgba(0,0,0,0.8);
					border: 1px solid #444;
				}

			#media-table td {
				width: 25%;
				padding: 10px 12px;
			}

				#media-table td img {
					width: 100%;
					height: auto;
					cursor: -moz-zoom-in;
					cursor: -webkit-zoom-in;
					-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
					-moz-box-shadow: 0 0px 5px rgba(0,0,0,0.8);
					box-shadow: 0 0 5px rgba(0,0,0,0.8);
					border: 1px solid #444;
				}

				#media-table td img:hover {
					border: 1px solid #eee;
				}
/*END MEDIA STYLING*/

/* FOOTER STYLING*/
#footer {
	background-color: #222;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	font-size: 10pt;
	color: #eee;
	overflow: hidden;
}

	#superjump-footer {
		height: 64px;
	}
/*END FOOTER STYLING*/

/* Press Kit only */
#video {
	width: 100%;
	height: 100%;
}

	#video iframe {
		display: block;
		width: 760px;
		height: 520px;
		margin: auto;
		padding-top: 120px;
	}

#presskit-wrapper {
	width: 100%;
	min-width: 1120px;
	background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/pw_maze_white.png);
}
	
	#presskit-container {
		width: 800px;
		height: auto;
		margin: auto;
		padding: 40px 20px;
	}

		#text {
			padding: 40px 20px;
			margin: auto;
			font-size: 14pt;
			line-height: 20pt;
			background-color: rgba(0,0,0,0.04);
			color: #444;
			overflow: hidden;
		}

			#text h1 {
				margin-top: 50px;
				margin-bottom: 20px;
			}

			#text a {
				font-weight: bold;
				color: #222;
			}

/* MEDIA QUERIES FOR MOBILE*/
@media screen and (max-width: 768px) {
	#top-wrapper {
		min-width: 0px;
	}

		#nav-wrapper {
			width: 100%;
		}

			img#menu-icon {
				display: block;
				width: 24px;
				height: auto;
				position: absolute;
				top: 50%;
				left: 10%;
				opacity: 0.5;
				transform: translate(-50%,-50%);
				-webkit-transition: opacity ease .5s;
				-moz-transition: opacity ease .5s;
				-o-transition: opacity ease .5s;
				-ms-transition: opacity ease .5s;
				transition: opacity ease .5s;
			}

				img#menu-icon.active {
					opacity: 1;
				}

			#superjump-wrapper {
				display: block;
				margin: 0px auto;
			}

			#nav-bar {
				display: none;
				width: 100%;
				height: auto;
			}

				.nav-bar-item {
					display: block;
					width: 100%;
					height: 60px;
					line-height: 60px;
					background-color: rgba(34,34,34,0.9);
				}

			#social-media-wrapper {
				display: block;
				width: 100%;
				height: 64px;
				background-color: rgba(34,34,34,1);
			}

				.social-media-icon {
					width: 24%;
				}

	#banner-wrapper {
		position: relative;
		min-width: 0px;
		overflow: hidden;
	}

		.bg-image {
			top: 0;
		}

		#banner-container {
			width: 100%;
		}

			#parallax-wrapper {
				display: none;
			}

			#game-logo {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-30%);
			}

			#awards-wrapper {
				display: none;
			}

	#emaillist-wrapper {
		width: 100%;
		min-width: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}

		#mc_embed_signup .button {
			max-width: 100px;
		}

	#description-wrapper {
		min-width: 0px;
	}

		.description-half {
			display: block;
			width: 100%;
			padding: 40px 20px;
			overflow: hidden;
		}

			#description-story {
				height: auto;
			}

	#media-wrapper {
		min-width: 0px;
	}

		#media-container {
			width: 100%;
			max-width: 512px;
			padding: 40px 0px;
			overflow: hidden;
		}

	#footer {
		min-width: 0px;
	}

