body {
	margin: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #404060;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #807D7A;
}

#header {
	width: 100%;
	height: 100vh;
}

#logo {
	width: 700px;
	padding: 20px;
	margin: auto;
}

#awards {
	width: 700px;
	margin: auto;
}

#background {
	position: absolute;
	top: 0px;
	margin: auto;
	min-width: 1200px;
	z-index: -1;
}

#container {
	width: 100%;
	height: 100%;
}

#video {
	width: 853px;
	margin: 50px auto 0px auto;
	padding: 20px;
	border: 3px solid rgba(255, 255, 255, 0.2);
}

#links {
	padding: 20px;
	text-align: center;
	font-size: 2em;
	color: #DBD7D3;
}

#links ul {
	list-style-type: none;
}

#links ul li {
	margin-bottom: 20px;
}

.screenshots-row {
	width: 1000px;
	margin: auto;
	overflow: auto;
}

.screenshots-row ul {
	list-style-type: none;
}

.screenshots-row ul li {
	float: left;
}

#footer {
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 400px;
	padding-top: 50px;
	text-align: center;
	color: white;
	font-size: 1.5em;
	background-image: url("../images/bkgd-bottom.png");
	background-size: 100% 100%;
}

#footer img {
	width: 500px;
	margin: auto;
}
