/* Variables */
/* Navy */
/* Old: 686de0 */
/* Cross-browser transitions */
/* Cross-browser transform */
/* Cross-browser animation */
/* Must exist @keyframes element of matching name defining animation */
/* Cross-browser background gradient, top to bottom */
/* Media query breakpoints */
/* BODY */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #0F0A3C;
  color: #4F649C;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a, a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
  letter-spacing: -1px;
  color: #00C4BB;
}

h2 {
  font-size: 1.1em;
}

.neon {
  color: #B8FFA6;
}

.aqua {
  color: #00C4BB;
}

.plain {
  color: #4F649C;
}

a.block {
  position: relative;
  bottom: 0;
  padding: 1px 7px;
  box-shadow: 0 0 0 #B8FFA6;
  border-radius: 3px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #0F0A3C;
  background-color: #B8FFA6;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
a.block:hover {
  bottom: 3px;
  box-shadow: 0 1px 5px #B8FFA6;
}

#hero {
  /*  Default <576px, portrait phones */
  /* Landscape phones */
}
@media (min-width: 992px) {
  #hero {
    position: relative;
    min-height: 100vh;
  }
}
#hero .text-wrapper {
  /*  Default <576px, portrait phones */
  /* Landscape phones */
}
@media (min-width: 992px) {
  #hero .text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
#hero h1 {
  margin-top: 10px;
  font-size: 3em;
  letter-spacing: -3px;
  /*  Default <576px, portrait phones */
  /* Landscape phones */
}
@media (min-width: 768px) {
  #hero h1 {
    font-size: 5em;
  }
}
#hero h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  /*  Default <576px, portrait phones */
  /* Landscape phones */
}
@media (min-width: 768px) {
  #hero h2 {
    font-size: 2em;
  }
}
#hero p {
  font-size: 1.2em;
  /*  Default <576px, portrait phones */
  /* Landscape phones */
}
@media (min-width: 768px) {
  #hero p {
    font-size: 1.5em;
  }
}
#hero #portrait {
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #B8FFA6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  /*  Default <576px, portrait phones */
  /* Landscape phones */
}
@media (min-width: 768px) {
  #hero #portrait {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
  }
}

#airplane {
  display: block;
  width: 75px;
  height: 75px;
  background-image: url("images/airplane-closed.png");
  background-size: 100% 100%;
  margin: auto;
  /*  Default <576px, portrait phones */
  /* Landscape phones */
}
#airplane:hover {
  background-image: url("images/airplane-open.png");
}
@media (min-width: 992px) {
  #airplane {
    display: inline-block;
  }
}

.section {
  width: 100%;
  min-height: 600px;
  font-size: 1.1em;
}
.section .text-wrapper {
  padding: 10px;
  /*  Default <576px, portrait phones */
  /* Landscape phones */
}
@media (min-width: 992px) {
  .section .text-wrapper {
    margin: 0 auto;
    width: 900px;
  }
}
.section .intro {
  font-size: 1.2em;
}
.section ul li {
  margin: 10px 0;
}

/* Cards (float up on hover) */
.row-wrapper {
  padding: 40px 0;
}

.card-container {
  position: relative;
  bottom: 0;
  width: calc(100% - 40px);
  margin: 15px 0;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.card-container:hover {
  bottom: 3px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}
.card-container img {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  /*  Default <576px, portrait phones */
  /* Landscape phones */
}
@media (min-width: 576px) {
  .card-container img {
    width: 250px;
    height: 250px;
  }
}
.card-container .card-text {
  /*  Default <576px, portrait phones */
  /* Landscape phones */
}
@media (min-width: 576px) {
  .card-container .card-text {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 280px);
    margin-left: 20px;
  }
}
.card-container .collapse {
  padding: 10px 0;
}
.card-container h2.snug {
  margin-bottom: 5px;
}
.card-container p.snug {
  margin-top: 5px;
}

#footer {
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
