/* Variables */
$accent-font: 'IBM Plex Mono';
$plain-font: 'IBM Plex Sans';

$bg-color: #0F0A3C;
$bg-element-color: rgba(9,6,36,0.8);
$text-color: #A0D9D4;
$accent-aqua: #00C4BB;
$accent-green: #B8FFA6;
$accent-violet: #D980FA;

/* Cross-browser transitions */
@mixin transition ($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/* Cross-browser transform */
@mixin transform ($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

/* Cross-browser animation */
/* Must exist @keyframes element of matching name defining animation */
@mixin animation ($args...) {
  -webkit-animation: $args; 
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
  animation: $args;
}

/* Cross-browser background gradient, top to bottom */
@mixin gradient ($color1, $color2) {
	background: $color1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($color1, $color2);
    background: -o-linear-gradient($color1, $color2);
    background: -moz-linear-gradient($color1, $color2);
    background: linear-gradient($color1, $color2);
}

@mixin clippath($args...) {
	-webkit-clip-path: $args;
	clip-path: $args;
}

/* Media query breakpoints */
@mixin bp($size) {
	/*  Default <576px, portrait phones */
	/* Landscape phones */
	@if $size == s {
		@media (min-width: 576px) { @content; }
	}
	/* Tablets */
	@else if $size == m {
		@media (min-width: 768px) { @content; }
	}
	/* Desktops */
	@else if $size == l {
		@media (min-width: 992px) { @content; }
	}
	/* Large desktops */
	@else if $size == xl {
		@media (min-width: 1200px) { @content; }
	}
}

/* BODY */
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: $plain-font, sans-serif;
	font-weight: 300;
	color: $text-color;
	background: $bg-color url("images/diatoms-bkgd.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

input:focus,
select:focus,
textarea:focus,
button:focus, 
a, a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $accent-font, monospace;
	font-style: italic;
	color: $accent-aqua;
	font-weight: 300;
}

.green {
	color: $accent-green;
	font-weight: 400;
}

.aqua {
	color: $accent-aqua;
	font-weight: 400;
}

.violet {
	color: $accent-violet;
	font-weight: 400;
}

.intext-link {
	color: $accent-green;
	border-bottom: 2px solid $accent-green;
	font-weight: 400;

	@include transition(0.5s);

	&:hover {
		color: white;
		border-color: white;
	}
}

.zap-link {
	position: relative;
	padding: 5px 10px;
	color: $accent-green;
	font-weight: 400;
}

.zap-link-border {
	display: block;
	position: absolute;
	top: -3px; right: -3px; bottom: -3px; left: -3px;
	border: 3px solid $accent-green;
	@include clippath(polygon(0% 0%, 0% 100%, 76% 100%, 25% 25%, 75% 25%, 75% 75%, 58% 75%, 76% 100%, 100% 100%, 100% 0%));
}

.zap-link-in {
	@include animation(zapAnim2 0.5s 0.1s forwards);
}

.zap-link-out {
	@include animation(zapAnim2-out 0.5s 0s forwards);
}

.spacer {
	top: 20px;
}

#hero {
	@include bp(l) {
		position: relative;
		min-height: 100vh;
	}

	.text-wrapper {
		padding: 10px;

		@include bp(l) {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
		}
	}

	h1 {
		margin: 0 0 40px 0;
		padding-left: 0;
		font-size: 2.5em;
		letter-spacing: -2px;
		font-weight: 200;

		@include bp(l) {
			font-size: 5.5em;
		}
	}

	p {
		font-size: 1.2em;

		@include bp(l) {
			font-size: 1.5em;
		}
	}

	#portrait {
		display: block;
		width: 160px;
		height: auto;
		margin: auto;
		border-radius: 50%;
		border: 3px solid $accent-green;
		box-shadow: 0 5px 10px rgba(0,0,0,0.8);

		@include bp(l) {
			float: right;
			margin-top: -10px;
			margin-right: 200px;
		}
	}
}

#airplane {
	display: block;
	width: 75px;
	height: 75px;
	background-image: url("images/airplane-closed.png");
	background-size: 100% 100%;
	margin: 40px auto 0 auto;

	&:hover {
		background-image: url("images/airplane-open.png");
	}

	@include bp(l) {
		display: inline-block;
	}
}

.section {
	width: 100%;
	min-height: 600px;
	font-size: 1.1em;

	.text-wrapper {
		@include bp(l) {
			margin: 0 auto;
			padding: 10px;
			width: 1200px;
		}
	}

	.intro {
		padding-top: 20px;
		font-size: 1.1em;
		text-align: center;
	}

	h1 {
		display: table;
		position: relative;
		margin: auto;
		padding: 15px;
		text-align: center;
	}

	h2 {
		width: 100%;
		font-size: 1.1em;
		text-align: center;
	}

	ul {
		margin: 60px 0;

		li {
			margin: 20px 0;
		}
	}
}

.element-left, .element-right {
	position: relative;
	margin: 60px 0;

	@include bp(l) {
		width: 100%;
		height: 400px;
	}

	.element-img {
		width: 100%;
		height: 200px;
		object-fit: cover;

		@include bp(l) {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 70%;
			height: 400px;
		}
	}

	.element-text {
		text-align: center;
		padding: 15px 15px 40px 15px;
		background-color: $bg-element-color;

		@include bp(l) {
			position: absolute;
			top: 50%;
			@include transform(translate(0, -50%));
		}
	}
}

.element-left {
	@include bp(l) {
		.element-img {
			left: 0;
			right: 30%;
		}

		.element-text {
			right: 0;
			left: 30%;
		}
	}
}

.element-right {
	@include bp(l) {
		.element-img {
			left: 30%;
			right: 0;
		}

		.element-text {
			right: 30%;
			left: 0;
		}
	}
}

#footer {
	width: 100%;
	padding: 5px 0;
	text-align: center;
}

/* Zap effect */
.zap {
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	border: 4px solid $accent-aqua;
	@include clippath(inset(96% 20% 0 20%));
}

.zap-in {
	@include animation(zapAnim 1s 0.5s);
}

@keyframes zapAnim {
	0% { @include clippath(inset(96% 20% 0 20%)); }
	10% { @include clippath(inset(96% 20% 0 0)); border-color: $accent-violet;}
	20% { @include clippath(inset(96% 98% 0 0)); border-color: $accent-violet;}
	30% { @include clippath(inset(0 98% 0 0)); border-color: $accent-violet;}
	40% { @include clippath(inset(0 98% 96% 0)); border-color: $text-color;}
	50% { @include clippath(inset(0 0 96% 0)); border-color: $text-color;}
	60% { @include clippath(inset(0 0 96% 98%)); border-color: $accent-green;}
	70% { @include clippath(inset(0 0 0 98%)); border-color: $accent-green;}
	80% { @include clippath(inset(96% 0 0 98%)); border-color: $accent-green;}
	90% { @include clippath(inset(96% 0 0 20%)); }
	100% { @include clippath(inset(96% 20% 0 20%)); }
}

@keyframes zapAnim2 {
	0% { @include clippath(polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 74% 75%, 24% 76%, 24% 100%, 100% 100%, 100% 0%)); border-color: $accent-green;}
	30% { @include clippath(polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 74% 75%, 74% 75%, 73% 100%, 100% 100%, 100% 0%)); border-color: $accent-green;}
	40% { @include clippath(polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 73% 24%, 74% 25%, 74% 24%, 100% 24%, 100% 0%)); border-color: $accent-aqua;}
	60% { @include clippath(polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 25% 25%, 25% 26%, 26% 25%, 26% 25%, 25% 26%, 26% 0)); border-color: $accent-aqua;}
	80% { @include clippath(polygon(0 75%, 0% 100%, 25% 100%, 25% 76%, 24% 75%, 25% 76%, 25% 75%, 24% 75%, 25% 76%, 26% 75%)); border-color: $accent-violet;}
	100% { @include clippath(polygon(19% 76%, 18% 100%, 81% 100%, 81% 74%, 79% 75%, 80% 75%, 80% 75%, 80% 75%, 80% 76%, 79% 75%)); border-color: $accent-violet;}
}

@keyframes zapAnim2-out {
	0% { @include clippath(polygon(19% 76%, 18% 100%, 81% 100%, 81% 74%, 79% 75%, 80% 75%, 80% 75%, 80% 75%, 80% 76%, 79% 75%)); border-color: $accent-violet;}
	20% { @include clippath(polygon(0 75%, 0% 100%, 25% 100%, 25% 76%, 24% 75%, 25% 76%, 25% 75%, 24% 75%, 25% 76%, 26% 75%)); border-color: $accent-violet;}
	40% { @include clippath(polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 25% 25%, 25% 26%, 26% 25%, 26% 25%, 25% 26%, 26% 0)); border-color: $accent-aqua;}
	60% { @include clippath(polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 73% 24%, 74% 25%, 74% 24%, 100% 24%, 100% 0%)); border-color: $accent-aqua;}
	70% { @include clippath(polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 74% 75%, 74% 75%, 73% 100%, 100% 100%, 100% 0%)); border-color: $accent-green;}
	100% { @include clippath(polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 74% 75%, 24% 76%, 24% 100%, 100% 100%, 100% 0%)); border-color: $accent-green;}
}
