<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {{ pageTitle }} </title>
        <!-- Fonts --><link rel="stylesheet" href="https://use.typekit.net/ige1pia.css">
        <link rel="stylesheet" href="_includes/css/styles.css?ver={{ _site_data.styling_version }}">
    </head>

    <body>
        {% include "layouts/_nav.njk" %}

        <div class="content container">
            <!-- Can be replaced -->
            <main>
            {% block main %}
                This is the default content
            {% endblock %}
            </main>

            {% include "layouts/_footer.njk" %}
        </div>
    </body>
</html>