// Fonts

// Colors

// Color assignments

// Element Scales

// Media queries
$min-width-extra-small: 700px;
$min-width-tablet-view: 1200px; //75em; // below this, it's mobile view
$min-width-desktop-view: 1440px; //90em; // below this, it's tablet view


